body
{
	background-color: #64ffda;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
.box
{
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	margin: auto;
	background-color: white;
	padding: 5px 25px 5px;
	width: 18%;
	height: 450px;
}
.container-1
{
	display: flex;
	justify-content: space-between;
}
.container-1 div{
	flex-basis: 48%;
}
.container-1-box1
{
	background-color: #e91e63;
	/* flex: 1; */
	order: 1;
	height: 9em;
	width: 10em;
}

.container-1-box2
{
	background-color: #1565c0;
	/* flex: 1; */
	order: 2;
	height: 9em;
	width: 10em;
}

.container-2
{
	display: flex;
}

.container-2-img
{
	flex: 1;
	order: 1;
	align-self: center;
}
.container-2-content
{
	flex: 2;
	order: 2;
	text-align: left;
	line-height: 4px;
	font-size: 0.8em;
}
.container-2-icon
{
	flex: 1;
	order: 3;
	position: relative;
}
.img-profile
{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.img-icon
{
	height: 30px;
	width: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
}
h4
{
	opacity: 0.4;	
}
hr
{
	opacity: 0.4;	
}